<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xaut.scenery.mapper.SightMapper">

    <insert id="insertASight">
        insert into sight values(null, #{sightApone}, #{sightAptwo}, #{sightApthr}, #{sightApfou}, now(), #{sightTourId}, #{sightSceneId})
    </insert>

    <delete id="deleteASight">
        delete from tour where sight_id=#{sightId}
    </delete>

</mapper>