<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xaut.scenery.mapper.SightMapper">

    <insert id="insertASight">
        insert into sight values(null, #{sightAp}, now(), #{sightTourId}, #{sightSceneId})
    </insert>

    <delete id="deleteASight">
        delete from sight where sight_id=#{sightId}
    </delete>

    <delete id="deleteASightBySightTourId">
        delete from sight where sight_tour_id=#{SightTourId}
    </delete>

    <select id="getAllSightIdBySightTourId" resultType="Integer">
        select sight_id from sight where sight_tour_id=#{SightTourId}
    </select>

</mapper>